.mainPage {
    background: url("../images/BGMainPage.png") no-repeat;
    background-size: cover;
    background-position-y: 0vh;
}

.projectPage {
    background: url("../images/BGProjectsPage.png") no-repeat;
    background-size: cover;
    background-position-y: 0vh;
}