p {
    color: black;
}

li {
    color: rgb(100, 255, 255);
}

a {
    color: rgb(20,255,255);
}

hr {
    background-color: rgb(20, 200, 255);
}

.titleborder {
    background-color: aqua;
}