p {
    color: blue;
}

li {
    color: rgb(100, 255, 255);
}

a {
    color: rgb(20,255,255);
}

hr {
    background-color: rgb(20, 200, 255);
}

.titleborder {
    background-color: aqua;
}

h1, h2 {
    color: blue;
    text-decoration: underline;
}

.Others {
    background-color: rgb(20, 0, 255);
    border-color: aqua;
}