.title {
    text-align: center;
    animation: slide 2s;
}

a {
    text-align: center;
    font-family: sans-serif;
    color: rgb(20,255,255);
}

hr {
    height: 6px;
    width: 60%;
    border-width: 0;
    background-color: rgb(20, 200, 255);
}

p {
    text-align: center;
    font-family: Arial;
    color: blue;
}

.projects {
    text-align: center;
    list-style-type: none;
}

.info {
    list-style-type: none;
    animation: slide 2s;
}

.game_info {
    list-style-type: none;
}


.titleborder {
    height: 10px;
    width: 20%;
    border-width: 2px;
    background-color: aqua;
    animation: slide 2s;
}
ul li {
    text-align: center;
    list-style-type: none;
}

h1 {
    text-align: center;
}

.Others {
    height: 10px;
    width: 80%;
    border-width: 4px;
    background-color: rgb(20, 0, 255);
    border-color: aqua;
    animation: slide 2s;
}
.mainPage {
    background: url("../images/BGMainPage.png") no-repeat;
    background-size: cover;
    background-position-y: 0vh;
    animation: slide 2s;
}

.projectPage {
    background: url("../images/BGProjectsPage.png") no-repeat;
    background-size: cover;
    background-position-y: 0vh;
    animation: slide 2s;
}

li {
    font-family: 'Sogoe UI', Roboto;
    color: rgb(100, 255, 255);
    animation: slide 2s;
}

h1, h2 {
    color: blue;
    text-decoration: underline;
    animation: slide 2s;
}

@keyframes slide {
    0% { transform: translateX(-400px); }
    50% { transform: translateX(0px); }
}