@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --backgroundColor: #4080BD;
    --textColor: #FFF;
    
    --cardColor: #54A4F0;
    --buttonColor: rgba(255, 255, 255, 0.2);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: "Fredoka";
    color: var(--textColor);
    background-color: var(--backgroundColor);
    
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.topbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--cardColor);
    box-shadow: var(--cardColor) 0px 10px 10px;
    
    a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        
        background-color: var(--buttonColor);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
        color: var(--textColor);
    } a.active {
        transform: scale(120%);
    }
}

.mainContent {
    padding: 1rem;
    text-align: center;
    
    .me {
        width: 100px;
        border-radius: 100%;
        animation: spin 5s linear infinite;
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    } 50% {
        rotate: 180deg;
    } 100% {
        rotate: 360deg;
    }
}